
@import "tailwindcss";


@layer base, components, utilities;


@import "../styles/theme.css";


/* -------------------------------------
Light mode 
-------------------------------------- */
html {
  --background: var(--color-background-light);
  --foreground: var(--color-text-light);
  --surface: var(--color-surface-light);
  --primary: var(--color-primary-light);
  --accent: var(--color-accent-light);
  --subtext: var(--color-subtext-light);
}

/* -------------------------------------
Dark mode 
-------------------------------------- */
html.dark {
  --background: var(--color-background-dark);
  --foreground: var(--color-text-dark);
  
  --surface: var(--color-surface-dark);
  --primary: var(--color-primary-dark);
  --accent: var(--color-accent-dark);
  --subtext: var(--color-subtext-dark);
}

/* -------------------------------------
 Our CSS vars
-------------------------------------- */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-subtext: var(--subtext);
  
  /* Font */
  --font-sans: var(--font-sora), system-ui, sans-serif;
}

/* -------------------------------------
   Basic page styling
-------------------------------------- */
body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* transition: background 0.2s ease, color 0.2s ease; */
}
